.counter {
	background: black;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	gap: 10px;
}

.digit {
	background: #1a1a1a;
	color: white;
	font-size: 60px;
	width: 70px;
	height: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
}

.clock {
	background: black;
}

